* {
  box-sizing: border-box;
  margin: 0 auto;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 60px;
  height: 20px;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(0deg);
}

.target:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;
  transform: rotate(45deg);
  width: 0px;
  height: 0px;

  border-top: 30px solid transparent;
  border-bottom: 30px solid none;
  border-right: 30px solid transparent;
  border-left: 30px solid #000;
}

/* .cover {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
} */
